<style>
h1 {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.7);
  font-weight:800;
  display: block;
  font-family: Circular, Helvetica, Arial;
  margin-bottom: 40px;


}

body {
    background: #ECEEEF;
    background: linear-gradient(to right, #c0deed,  #0084b4);
    text-align: center;
    align-content: center;
    margin: 100px auto;
    max-width: 462px;
    padding: 0 40px;
    font: 18px normal 'Varela Round', Helvetica, serif;
    color: #777B7E;
}

img {
    width: 100%;
}


#searchIcon, #avatar {
    width: 50%;
    border-radius: 50%;
    margin: 0 25% 0 25%;
}

input {
    font-family: 'Varela Round', Helvetica, serif;
    font-size: 18px;
    padding: 31px 0;
    margin: 10px 0;
    text-align: center;
    width: 360px;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    color: #2C3238;
}

#username {
    margin: 20px 0 0;
}

.button {
    border-color: rgba(127, 127, 127, 0.5);
    background: #6AE368;
    color: #fff;
}

#error {
    width: 100%;
    padding: 22px 0;
    background: #FFE6B2;
    color: #C5A14E;
    position: absolute;
    left: 0;
    top: 0;
}

#profile {
    position: absolute;
    width: 377px;
    height: 406px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    padding: 40px 0 0;
    margin: -40px 0 0;
    z-index: 5;
}

#backDiv {
    position:fixed;;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(45deg, #6AE368,  #0084b4);
    min-height: 100%;
}

#middleDiv {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #FF00FF, #00FFFF);
    opacity: 1.0;
    min-height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0;
}

li {
    display: inline-block;
    width: 100%;
    padding: 22px 0;
    margin: 0;
    border-top: 1px solid #D5DDE4;
}

a, a:visited {
    color: #5FB6E1;
    text-decoration: none;
}

span {
    color: #2C3238;
}
</style>
