<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Mood.fm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type= "text/css" rel="stylesheet" href="/css/index.css">
    <style type="text/css" media="screen">
        @import url(http://fonts.googleapis.com/css?family=Varela+Round);
        @import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);
    </style>
</head>




<body>
    <div id="backDiv">
      <div id="middleDiv">
      </div>
    </div>

    <div class="title">
        <h1> <%= greeting %> </h1>
    </div>
    <div id="profile">
    <img src="http://i.imgur.com/PUpYU7p.png" alt="Magnifying Glass" id="searchIcon">


    <form action="/" method="">
    <input type="text" placeholder="Enter a city" id="cityRequestBox" name="city">
    <input type="submit" value="submit" class="button" id="submitButton">
    </form>
  </div>

  <script type="text/javascript">
    let submitButton = document.querySelector("#submitButton");
    let profile = document.querySelector("#profile")
    let cityRequest = null;
    let title = document.querySelector('.title')


    submitButton.addEventListener("click", (e) => {
      e.preventDefault();
      cityRequest = document.querySelector("#cityRequestBox").value;
      console.log(cityRequest)
      let xhr = new XMLHttpRequest()
      xhr.onreadystatechange = () => {
        if (xhr.readyState === 4) {
          profile.innerHTML = xhr.responseText;
          let searchAgain = document.querySelector("#searchAgain");
          searchAgain.addEventListener('click', () => {
            window.location.reload();
          })
        }
      }
      xhr.open('POST', `/:${cityRequest}`)
      xhr.send();
    })

  </script>

  <script>
      const backDiv = document.getElementById('backDiv');
      const middleDiv = document.getElementById('middleDiv');
      let x = 1;
      let y = 0;
      setInterval(function () {
              if (x > 0) {
                  x -= 0.03;
                  middleDiv.style.opacity = x;
              } else if (0 >= x) {
                  y += 0.03;
                  middleDiv.style.opacity = y;
                  if (y >= 1) {
                      x = 1;
                      middleDiv.style.opacity = x;
                      y = 0;
                  }
              }
            }, 400)
  </script>
</body>
</html>
